/* Правила для адаптивного дизайна */
/* Large Devices, Wide Screens */
@media screen and (max-width: 1200px;) {
	.container {
		max-width: 960px;
	}
	.menu-item {
		font-size: 16px;
	}
}

/* Medium Devices, Desktops */
@media screen and (max-width: 992px) {
	.container {
		max-width: 740px;
	}
	.menu {
		/*-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;*/
		flex-wrap: wrap; /* это свойство значит, что если элементы не помещаются в одну строку, их надо перенести */
	}
	.menu-item {
		flex-basis: 20%; /* расположение элементов меню */
		line-height: 2; /* отступ сверху между элементами меню(на маленьком экране) */
	}
	.full-content {
		/*-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;*/
		flex-wrap: wrap;
	}
	.menu-tabs-content {
		margin-bottom: 4%;
	}
	.text {
		font-size: 14px;
	}
	.actors-list-item {
		font-size: 14px;
	}
}

/* Small Devices, Tablets */
@media screen and (max-width: 768px) {
	.container {
		max-width:540px;
	}
	.more {
		display: none;
	}
	.menu-item {
		flex-basis: 44%;
	}
	.menu-tabs-content {
		margin-right: 0;
	}
}

/* Extra Small Devices, Phones */
@media screen and (max-width: 480px) {
	.container {
		width: 90%;
	}
	/*.more {
		display: none;/* не убирается на маленьком дисплее кнопка Подробнее *
	}*/
	.header {
		/*-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;*/
		flex-wrap: wrap;/* Если элементы header'а не помещаются в одну строку - они должны перенестись */
	}
	.search {/* на маленьком дисплее не становится по середине */
		flex-basis: 100%;
		order: 3;/* строку поиска делаем 3им элементом в header'е, чтобы она опустилась на новую строку */
		margin-top: 5%;
	}
	.content {
		/*-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;*/
		flex-wrap: wrap;
	}
	.short-info {
		margin-bottom: 5%;
	}
	.actors-list, .actors-title {
		display: none;
	}
	/*.more {
		display: none;
	}*/
	/*.menu-item {
		flex-basis: 44%;
	}*/
	/*.menu-tabs-content {
		margin-right: 0;
	}*/
	.movie-info {
		/*-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;*/
		flex-wrap: wrap;
	}
	.trayler {
		flex-basis: 100%;
		margin-top: 10%;
	}
	.short-info {
		margin-right: 0;
	}
	.button {
		width: 100%;
	}
	.poster {
		margin-top: -50%;
		display:inline-block;
		width: 100%;
	}
}